/*


*/
body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main {
  margin: 0 auto;
  width: 940px;
}
  .thin { 
    margin: 0 auto;
    width: 940px; 
  }
  .wide {
    width:100%;
    min-width: 940px;
    text-align:center;
  }
  .main > hr {
    margin: 20px 0;
  }
  .intro { text-align:center; }
  .intro,
  .outro { margin: 30px 0; }

textarea { 
  border:1px solid grey; 
  width:1098px;
  resize: none;
}

.sliders {
  display:inline-block;
  height:20px;
  line-height:20px;
}
.slidertext {
  display:inline-block;
  padding-right:7px;
  text-align:right;
/*  color:#AAA;*/
}
.slidertext.last {
  padding-left:15px;
  margin-left:15px;
  border-left: 1px solid #eeeeee;
}
.slider{
  display:inline-block;
  width:100px;
  /*margin-left:10px;*/
  /*margin-right:15px;*/
}
input[type='range'] {
    -webkit-appearance: none !important;
    background: #EEE;
    height:3px;
    width:100%;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:#888;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    height:8px;
    width:8px;
}

/* SVG */
.noclicks { pointer-events:none; }
.background {
  fill:none;
  pointer-events:all;
}
.ocean { fill: #f9e6ff; }
.countries {
  fill: #f2ccff;
  fill-opacity:1;

  stroke: rgb(80, 64, 39);  
  stroke-opacity: .3;
  stroke-linejoin: round;
  stroke-width:.5;
}
  .country {}
  .country.active { fill: #e699ff; }
.graticule {
  fill: none;
  stroke: white;
  stroke-width:1;
  opacity:.2;
}
.point {
  fill: #4d0066;
  opacity:.6;
}

.control-group {
    margin-top: 0.5em;
}
